server/integration/datasources/src/main/resources/schema/jboss-infinispan-datasources_9.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:infinispan:server:datasources:9.2" xmlns="urn:infinispan:server:datasources:9.2"
           elementFormDefault="qualified">

    <xs:element name="subsystem" type="subsystemType"/>

    <xs:complexType name="subsystemType">
        <xs:all>
            <xs:element name="datasources" type="datasourcesType"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="datasourcesType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="datasource" type="datasourceType">
                    <xs:annotation>
                        <xs:documentation>
                            <![CDATA[[
                Specifies a non-XA datasource, using local transactions
               ]]>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="drivers" type="driversType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="datasourceType">
        <xs:sequence>
            <xs:element name="connection-url" type="xs:token">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              The JDBC driver connection URL Ex: <connection-url>jdbc:hsqldb:hsql://localhost:1701</connection-url>
             ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="driver-class" type="xs:token" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              The fully qualifed name of the JDBC driver class Ex: <driver-class>org.hsqldb.jdbcDriver</driver-class>
             ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datasource-class" type="xs:token" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              The fully qualifed name of the JDBC datasource class Ex: <datasource-class>org.h2.jdbcx.JdbcDataSource</datasource-class>
             ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="driver" type="xs:token" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              An unique reference to the classloader module which contains the JDBC driver
              The accepted format is driverName#majorVersion.minorVersion
             ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="connection-property" type="connection-propertyType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              The connection-property element allows you to pass in arbitrary connection
              properties to the Driver.connect(url, props) method. Each connection-property
              specifies a string name/value pair with the property name coming from the
              name attribute and the value coming from the element content. Ex:
              <connection-property name="char.encoding">UTF-8</connection-property>
             ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="new-connection-sql" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              Specify an SQL statement to execute whenever a connection is added
              to the connection pool.
              ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="transaction-isolation" type="transaction-isolationType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              Set java.sql.Connection transaction isolation level to use. The constants
              defined by transaction-isolation-values are the possible transaction isolation
              levels and include: TRANSACTION_READ_UNCOMMITTED TRANSACTION_READ_COMMITTED
              TRANSACTION_REPEATABLE_READ TRANSACTION_SERIALIZABLE TRANSACTION_NONE
             ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pool" type="poolType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              Specifies the pooling settings
             ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="security" type="dsSecurityType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              Specifies the security settings
             ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="common-datasourceAttributes" />
    </xs:complexType>

    <xs:complexType name="boolean-presenceType" />

    <xs:attributeGroup name="common-datasourceAttributes">
        <xs:attribute name="jndi-name" type="xs:token" use="required">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[[
            Specifies the JNDI name for the datasource
           ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="pool-name" type="xs:token" use="required">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[[
            Specifies the pool name for the datasource used for management
           ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute default="true" name="use-java-context" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[[
            Setting this to false will bind the DataSource into global JNDI
            Ex: use-java-context="true"
           ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute default="false" name="statistics-enabled" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[[
                  Enable statistics for this datasource
                 ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:complexType name="connection-propertyType" mixed="true">
        <xs:attribute name="name" use="required" type="xs:token" />
    </xs:complexType>

    <xs:complexType name="poolType">
        <xs:sequence>
            <xs:element name="min-pool-size" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              The min-pool-size element indicates the minimum number of connections
              a pool should hold. These are not created until a Subject is known from a
              request for a connection. This default to 0. Ex: <min-pool-size>1</min-pool-size>
             ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="initial-pool-size" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
                    The initial-pool-size element indicates the initial number of connections
                    a pool should hold. This default to 0. Ex: <initial-pool-size>1</initial-pool-size>
                   ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="max-pool-size" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              The max-pool-size element indicates the maximum number of connections
              for a pool. No more connections will be created in each sub-pool.
              This defaults to 20.
             ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="prefill" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              Whether to attempt to prefill the connection pool. Empty element denotes
              a true value. e.g. <prefill>true</prefill>.
              Default is false
             ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fair" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              Defines if pool should use be fair
              Default true
             ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="use-strict-min" type="xs:boolean" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              Define if the min-pool-size should be considered a strictly.
              Default false
             ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="flush-strategy" type="xs:token" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              Specifies how the pool should be flush in case of an error.
              Valid values are: FailingConnectionOnly (default), InvalidIdleConnections, IdleConnections, Gracefully, EntirePool,
              AllInvalidIdleConnections, AllIdleConnections, AllGracefully, AllConnections
             ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="allow-multiple-users" type="boolean-presenceType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              Specifies if multiple users will access the datasource through the getConnection(user, password)
              method and hence if the internal pool type should account for that
             ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dsSecurityType">
        <xs:sequence>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="user-name" type="xs:token" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                <![CDATA[[
                    Specify the username used when creating a new connection.
                            Ex: <user-name>sa</user-name>
                  ]]>
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="password" type="xs:token" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                <![CDATA[[
                    Specify the password used when creating a new connection.
                    Ex: <password>sa-pass</password>
                  ]]>
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="driverType">
        <xs:sequence>
            <xs:element name="driver-class" type="xs:token" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              The fully qualifed name of the JDBC driver class Ex: <driver-class>org.hsqldb.jdbcDriver</driver-class>
             ]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datasource-class" type="xs:token" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[[
              The fully qualifed name of the javax.sql.DataSource implementation
              class.
             ]]>
                    </xs:documentation>
                </xs:annotation></xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:token" use="required">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[[
            Specifies the symbolic name of this driver used to reference this driver
           ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="module" type="xs:token">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[[
            Specifies the name of AS7 module providing this driver.
           ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="major-version" type="xs:int">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[[
            Specifies the major version of this driver. If the major and minor versions are omitted the first available
            Driver in module will be used.
           ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="minor-verion" type="xs:int">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[[
            Specifies the minor version of this driver. If the major and minor versions are omitted the first available
            Driver in module will be used.
           ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="driversType">
        <xs:sequence>
            <xs:element name="driver" type="driverType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="transaction-isolationType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[[
          Define constants used as the possible transaction isolation levels in transaction-isolation
          type. Include: TRANSACTION_READ_UNCOMMITTED, TRANSACTION_READ_COMMITTED, TRANSACTION_REPEATABLE_READ,
          TRANSACTION_SERIALIZABLE, TRANSACTION_NONE
         ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="TRANSACTION_READ_UNCOMMITTED" />
            <xs:enumeration value="TRANSACTION_READ_COMMITTED" />
            <xs:enumeration value="TRANSACTION_REPEATABLE_READ" />
            <xs:enumeration value="TRANSACTION_SERIALIZABLE" />
            <xs:enumeration value="TRANSACTION_NONE" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
